<!-- wp:group {"className":"site-container page-calendario","layout":{"type":"constrained"}} -->
<div class="wp-block-group site-container page-calendario">
  <!-- wp:group {"tagName":"header","className":"site-header","layout":{"type":"flex","justifyContent":"left","flexWrap":"nowrap"}} -->
  <header class="wp-block-group site-header">
    <!-- wp:shortcode -->
    [eventostri_branding_image]
    <!-- /wp:shortcode -->

    <!-- wp:group {"className":"site-info","layout":{"type":"constrained"}} -->
    <div class="wp-block-group site-info">
      <!-- wp:site-title {"level":1,"className":"site-title"} /-->
      <!-- wp:site-tagline {"className":"site-description"} /-->
    </div>
    <!-- /wp:group -->
  </header>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
  <main class="wp-block-group">
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  </main>
  <!-- /wp:group -->

  <!-- wp:template-part {"slug":"footer","theme":"eventostri-calendar","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
